:root {
  --main-bg: rgb(0, 0, 0, 0.85);
  --main-text: #fff;
  --accent-text: rgb(5, 206, 5);
  --workout-section-bg:  rgb(0, 0, 0);
  --accent-title: rgba(5, 206, 5, 0.69);
}

/* Global */
body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: Lato, sans-serif;
  letter-spacing: 0.03em;
  padding-top: 90px;
  font-style: 19px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
    position: absolute;
  
    white-space: nowrap;
  
    width: 1px;
  
    height: 1px;
  
    overflow: hidden;
  
    border: 0;
  
    padding: 0;
  
    clip: rect(0 0 0 0);
  
    clip-path: inset(50%);
  
    margin: -1px;
  }

/* Header global */
.fix{
    padding-top: 90px;
}
.header{
    position: fixed;
    background: var(--main-bg);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header-nav {
  display: flex;
  align-items: center;
  min-height: 90px;
}
.container.header-nav {
  justify-content: space-between;
}
.logo {
  color: var(--accent-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  display: block;
}
.logo-text {
  color: var(--main-text);
}
.site-nav {
  display: flex;
  gap: 15px;
}
.site-nav-link {
  padding: 35px 10px;
}
.header-link {
  display: flex;
  align-items: center;
}
.header-text {
  display: inline-block;
  max-width: 150px;
  margin-right: 35px;
}
.list-icon {
  display: flex;
  gap: 7px;
}
.social-link {
    display: block;
  width: 45px;
  height: 45px;
  padding: 8px;
  background: var(--main-bg);
  border: 0;
  border-radius: 50%;
  text-align: center;
  fill: var(--main-text);

}
.icon-link{
    width: 100%;
  height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
  fill:inherit;
}
.social-link:hover,
.social-link:focus{
    background:var(--main-text);
    fill: black;
}
.icon{
    fill: inherit;
}

.site-nav-link{
    position: relative;
}
.site-nav-link:hover::after,
.site-nav-link:focus::after{
    position: absolute;
width: 100%;
height: 4px;
top: 80px;
left:0;
content: "";
background:var(--accent-text);
border-radius: 2px;
}


/* Footer glogal */
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-bg);
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer-size{
    width: 220px;
}
.footer-social{
    display: flex;
    gap: 10%;
}
.footer-title{
    font-weight: 300;
    margin-bottom: 15px;
}

.list-address:not(:last-child){
    margin-bottom: 10px;
}
.footer-text{
    font-weight: 300;
    font-size: 15px;
}
.footer-text:hover,
.footer-text:focus{
    color: var(--accent-text);
}
/* Main index */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero {
    position: relative;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
     to right bottom,
        rgba(5, 206, 5, 0.156),
        rgba(13, 13, 13, 0.86)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-bg);
  }
  .hero-title{
    position:absolute;
    top:32%;
    left: 73%;
    transform: translate(-50%, -50%);
    font-size:100px;
    line-height: 1.18;
 z-index: 1;
}
.logo-hero{
    color: rgb(5, 206, 5);
}
.title-section{
    font-size:64px;
    line-height: 1.16;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    
}
.title-section-text{
    font-size:36px;
    line-height: 1.16;
    font-weight: 300;
    text-align: center;
    color: var(--accent-text);
    margin-bottom: 60px;
}
.workout-list{
    display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.workout-item{
    outline: var(--accent-text);
    flex-basis: calc((100% - 75px) / 4);
    width: 330px;
}
.img{
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.item-title{
    font-size:32px;
    line-height: 1.16;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: var(--accent-text);
    text-transform: uppercase;
}
.item-text{
    font-size:18px;
    line-height: 1.16;
    font-weight: 300;
    margin-top: 15px;
}
.team-item{
    flex-basis: calc((100% - 50px) / 3);
    width: 330px;
}
.pro{
    color: rgb(255, 31, 31);
    font-weight: 700;
    text-transform: uppercase;
}
.begginers{
    color: rgb(80, 254, 80);
    font-weight: 700;
    text-transform: uppercase;
}
.kid{
    color: rgb(255, 225, 0);
    font-weight: 700;
    text-transform: uppercase;
}
.schedule-list{
    display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.schedule-item{
    /* flex-basis: calc((100% - 100px) / 3); */
    width: 330px;
}
.schedule-title{
    font-size:32px;
    line-height: 1.16;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: var(--accent-text);
    text-transform: uppercase;
}
.description{
    font-size:18px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 15px;
}
.exmpl{
    display: flex;
    justify-content: center;
}
.motivation-text{
    font-size:64px;
    line-height: 1.16;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 35%;
}
